## Answer 1

## Add thecolumn names to the both datasets

In [2]:
import pandas as pd

import numpy as np

In [3]:
customer_details=pd.read_csv('customer_details.csv')

In [4]:
customer_policy_details=pd.read_csv('customer_policy_details.csv')

## i

## column name for the customer details table

## customer id
## gender 
## age
## driving license present

## region code
## previously insured
## vehicle age
## vehicle damage

In [5]:
customer_details.rename({'0':'Customer_Id','1':'Gender','2':'Age','3':'Driving Licence Present','4':'Region Code','5':'Previously Insured','6':'Vehicle Age','7':'Vehicle Damage'},axis=1,inplace=True)

In [6]:
customer_details.head()

,Customer_Id,Gender,Age,Driving Licence Present,Region Code,Previously Insured,Vehicle Age,Vehicle Damage
0,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes
1,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No
2,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes
3,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No
4,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No

## ii

## Column name for customer_policy table:

## customer id,

## Annual premium
## sales channel code
## vintage and response

In [7]:
customer_policy_details.rename({'0':'Customer_Id','1':'Annual Premium(Rs)','2':'Sales Channel Code','3':'Vintage','4':'Response'},axis=1,inplace=True)

In [8]:
customer_policy_details.head()

   Customer_Id  Annual Premium(Rs)  Sales Channel Code  Vintage  Response
0          1.0             40454.0                26.0    217.0       1.0
1          2.0             33536.0                26.0    183.0       0.0
2          3.0             38294.0                26.0     27.0       1.0
3          4.0             28619.0               152.0    203.0       0.0
4          5.0             27496.0               152.0     39.0       0.0

## Answer 2

## checking and cleaning data quality

## i

## Null values

## generate asummary of count of all null values column wise

In [9]:
customer_details.isna().sum()

Customer_Id                386
Gender                     368
Age                        368
Driving Licence Present    393
Region Code                392
Previously Insured         381
Vehicle Age                381
Vehicle Damage             407
dtype: int64

In [10]:
customer_policy_details.isna().sum()

Customer_Id           387
Annual Premium(Rs)    346
Sales Channel Code    400
Vintage               388
Response              361
dtype: int64

## drop null values for customer id because tendencies for isd is not feasible

In [11]:
customer_details=customer_details.dropna(subset=['Customer_Id'])

In [12]:
customer_details.isna().sum()

Customer_Id                  0
Gender                     368
Age                        366
Driving Licence Present    392
Region Code                391
Previously Insured         381
Vehicle Age                381
Vehicle Damage             406
dtype: int64

In [13]:
customer_policy_details=customer_policy_details.dropna(subset=['Customer_Id'])

In [14]:
customer_policy_details.isna().sum()

Customer_Id             0
Annual Premium(Rs)    344
Sales Channel Code    400
Vintage               388
Response              361
dtype: int64

## replace all null values fornumeric column by mean

In [15]:
customer_policy_details.fillna(customer_policy_details.mean().mean(),inplace=True)

In [16]:
customer_policy_details.isna().sum()

Customer_Id           0
Annual Premium(Rs)    0
Sales Channel Code    0
Vintage               0
Response              0
dtype: int64

In [17]:
customer_details.isna().sum()

Customer_Id                  0
Gender                     368
Age                        366
Driving Licence Present    392
Region Code                391
Previously Insured         381
Vehicle Age                381
Vehicle Damage             406
dtype: int64

## replace all null values for categorial value by mode

In [18]:
customer_details['Gender']=customer_details['Gender'].fillna(customer_details['Gender'].mode()[0])
customer_details['Age']=customer_details['Age'].fillna(customer_details['Age'].mode()[0])
customer_details['Driving Licence Present']=customer_details['Driving Licence Present'].fillna(customer_details['Driving Licence Present'].mode()[0])
customer_details['Region Code']=customer_details['Region Code'].fillna(customer_details['Region Code'].mode()[0])
customer_details['Previously Insured']=customer_details['Previously Insured'].fillna(customer_details['Previously Insured'].mode()[0])
customer_details['Vehicle Age']=customer_details['Vehicle Age'].fillna(customer_details['Vehicle Age'].mode()[0])
customer_details['Vehicle Damage']=customer_details['Vehicle Damage'].fillna(customer_details['Vehicle Damage'].mode()[0])

In [19]:
customer_details.isnull().sum()

Customer_Id                0
Gender                     0
Age                        0
Driving Licence Present    0
Region Code                0
Previously Insured         0
Vehicle Age                0
Vehicle Damage             0
dtype: int64

## ii

## outliers

## generate a summary of count of all the outlierw coumn wise

In [20]:
q1=customer_policy_details.quantile(0.25)
q3=customer_policy_details.quantile(0.75)
iqr=q3-q1
l=q1-(1.5*iqr)
u=q3+(1.5*iqr)
((customer_policy_details<l)|(customer_policy_details>u)).sum()

Customer_Id               0
Annual Premium(Rs)    10239
Sales Channel Code      400
Vintage                 388
Response              46965
dtype: int64

## replace all the  outliers values for numeric values by mean

In [21]:
customer_policy_details['Annual Premium(Rs)']=customer_policy_details['Annual Premium(Rs)'].astype('float')

In [22]:
q1=customer_policy_details[['Annual Premium(Rs)']].quantile(0.25)
q3=customer_policy_details[['Annual Premium(Rs)']].quantile(0.75)

In [23]:
iqr=q3-q1

In [24]:
l=q1-(1.5*iqr)
u=q3+(1.5*iqr)

In [25]:
((customer_policy_details[['Annual Premium(Rs)']]<l)|(customer_policy_details[['Annual Premium(Rs)']]>u)).sum()

Annual Premium(Rs)    10239
dtype: int64

## iii

## White spaces

## remove white spaces

In [26]:
customer_details['Gender'].str.strip()

0           Male
1           Male
2           Male
3           Male
4         Female
           ...
381104      Male
381105      Male
381106      Male
381107    Female
381108      Male
Name: Gender, Length: 380723, dtype: object

## iv

## case correction

In [27]:
customer_details.apply(lambda x: x.astype(str).str.upper())

,Customer_Id,Gender,Age,Driving Licence Present,Region Code,Previously Insured,Vehicle Age,Vehicle Damage
0,1.0,MALE,44.0,1.0,28.0,0.0,> 2 YEARS,YES
1,2.0,MALE,76.0,1.0,3.0,0.0,1-2 YEAR,NO
2,3.0,MALE,47.0,1.0,28.0,0.0,> 2 YEARS,YES
3,4.0,MALE,21.0,1.0,11.0,1.0,< 1 YEAR,NO
4,5.0,FEMALE,29.0,1.0,41.0,1.0,< 1 YEAR,NO
...,...,...,...,...,...,...,...,...
381104,381105.0,MALE,74.0,1.0,26.0,1.0,1-2 YEAR,NO
381105,381106.0,MALE,30.0,1.0,37.0,1.0,< 1 YEAR,NO
381106,381107.0,MALE,21.0,1.0,30.0,1.0,< 1 YEAR,NO
381107,381108.0,FEMALE,68.0,1.0,14.0,0.0,> 2 YEARS,YES
381108,381109.0,MALE,46.0,1.0,29.0,0.0,1-2 YEAR,NO

## v

## convert nominal data into dummies

In [28]:
customerdetails=pd.get_dummies(customer_details)

In [29]:
customerdetails

,Customer_Id,Age,Driving Licence Present,Region Code,Previously Insured,Gender_Female,Gender_Male,Vehicle Age_1-2 Year,Vehicle Age_< 1 Year,Vehicle Age_> 2 Years,Vehicle Damage_No,Vehicle Damage_Yes
0,1.0,44.0,1.0,28.0,0.0,0,1,0,0,1,0,1
1,2.0,76.0,1.0,3.0,0.0,0,1,1,0,0,1,0
2,3.0,47.0,1.0,28.0,0.0,0,1,0,0,1,0,1
3,4.0,21.0,1.0,11.0,1.0,0,1,0,1,0,1,0
4,5.0,29.0,1.0,41.0,1.0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105.0,74.0,1.0,26.0,1.0,0,1,1,0,0,1,0
381105,381106.0,30.0,1.0,37.0,1.0,0,1,0,1,0,1,0
381106,381107.0,21.0,1.0,30.0,1.0,0,1,0,1,0,1,0
381107,381108.0,68.0,1.0,14.0,0.0,1,0,0,0,1,0,1
381108,381109.0,46.0,1.0,29.0,0.0,0,1,1,0,0,1,0

## vi

## drop duplicates

In [30]:
customerdetails.drop_duplicates()

,Customer_Id,Age,Driving Licence Present,Region Code,Previously Insured,Gender_Female,Gender_Male,Vehicle Age_1-2 Year,Vehicle Age_< 1 Year,Vehicle Age_> 2 Years,Vehicle Damage_No,Vehicle Damage_Yes
0,1.0,44.0,1.0,28.0,0.0,0,1,0,0,1,0,1
1,2.0,76.0,1.0,3.0,0.0,0,1,1,0,0,1,0
2,3.0,47.0,1.0,28.0,0.0,0,1,0,0,1,0,1
3,4.0,21.0,1.0,11.0,1.0,0,1,0,1,0,1,0
4,5.0,29.0,1.0,41.0,1.0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105.0,74.0,1.0,26.0,1.0,0,1,1,0,0,1,0
381105,381106.0,30.0,1.0,37.0,1.0,0,1,0,1,0,1,0
381106,381107.0,21.0,1.0,30.0,1.0,0,1,0,1,0,1,0
381107,381108.0,68.0,1.0,14.0,0.0,1,0,0,0,1,0,1
381108,381109.0,46.0,1.0,29.0,0.0,0,1,1,0,0,1,0

## Answer 3

##Create a Master table for future use. Join the customer table and customer_policy table to get a master table using customer_id in both tables.

In [31]:
master_table=pd.merge(customer_details,customer_policy_details)

In [32]:
master_table['Age']=master_table['Age'].astype('int')
master_table

,Customer_Id,Gender,Age,Driving Licence Present,Region Code,Previously Insured,Vehicle Age,Vehicle Damage,Annual Premium(Rs),Sales Channel Code,Vintage,Response
0,1.0,Male,44,1.0,28.0,0.0,> 2 Years,Yes,40454.0,26.0,217.0,1.0
1,2.0,Male,76,1.0,3.0,0.0,1-2 Year,No,33536.0,26.0,183.0,0.0
2,3.0,Male,47,1.0,28.0,0.0,> 2 Years,Yes,38294.0,26.0,27.0,1.0
3,4.0,Male,21,1.0,11.0,1.0,< 1 Year,No,28619.0,152.0,203.0,0.0
4,5.0,Female,29,1.0,41.0,1.0,< 1 Year,No,27496.0,152.0,39.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
380331,381105.0,Male,74,1.0,26.0,1.0,1-2 Year,No,30170.0,26.0,88.0,0.0
380332,381106.0,Male,30,1.0,37.0,1.0,< 1 Year,No,40016.0,152.0,131.0,0.0
380333,381107.0,Male,21,1.0,30.0,1.0,< 1 Year,No,35118.0,160.0,161.0,0.0
380334,381108.0,Female,68,1.0,14.0,0.0,> 2 Years,Yes,44617.0,124.0,74.0,0.0
380335,381109.0,Male,46,1.0,29.0,0.0,1-2 Year,No,41777.0,26.0,237.0,0.0

## Answer 4

## company need some imporatant information from the master table to make decision for future growth .They needs some following information

## i

## gender wise average annual prmium

In [33]:
master_table.groupby(['Gender'])['Annual Premium(Rs)'].mean()

Gender
Female    30505.151882
Male      30635.409127
Name: Annual Premium(Rs), dtype: float64

## ii

## Age wise annual avearage premium

In [34]:
master_table.groupby(['Age'])['Annual Premium(Rs)'].mean()

Age
20    26940.061164
21    30573.665891
22    30837.557285
23    30698.806695
24    31200.619093
          ...
81    31201.571429
82    37705.379310
83    31012.727273
84    35440.818182
85    29792.363636
Name: Annual Premium(Rs), Length: 66, dtype: float64

## iii

## is your data betwween the genders be balanced?

In [35]:
master_table['Gender'].value_counts()

Male      205851
Female    174485
Name: Gender, dtype: int64

## iv

## vehicle age wise annual average premium

In [36]:
master_table.groupby(['Vehicle Age'])['Annual Premium(Rs)'].mean()

Vehicle Age
1-2 Year     30538.472949
< 1 Year     30126.565208
> 2 Years    35667.836135
Name: Annual Premium(Rs), dtype: float64

## Answer 5

## is there any realation  between person age and annual premium

In [ ]:
Correlation coefficient < -0.5 - Strong negative relationship
Correlation coefficient > 0.5 - Strong positive relationship
0.5 < Correlation coefficient < 0.5 - There is no relationship.

In [37]:
np.corrcoef(master_table['Age'],master_table['Annual Premium(Rs)'])

array([[1.        , 0.06769523],
       [0.06769523, 1.        ]])